<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/lostinmyworld/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="lostinmyworld" />
            <add key="ClearTextPassword" value="9d014e6c578f582df8dc788721308e05475fbb43" />
        </github>
    </packageSourceCredentials>
</configuration>